<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvyyvtenzzr.pp@tznvy.pbz</string>
	<key>contactName</key>
	<string>milligramme</string>
	<key>description</key>
	<string>Execute ExtendScript.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>28F338BA-2C87-447C-8BE5-93F3FE0EB8C5</string>
			<string>0327735A-F886-46EA-B82C-1F1D1E399BAD</string>
			<string>------------------------------------</string>
			<string>86F17501-1D4D-4FD8-A8E5-4D53A57CF346</string>
			<string>A83E4850-BC62-4207-804D-F30B6EC78BC4</string>
			<string>------------------------------------</string>
			<string>426AE9AD-D61D-48BB-9B2C-FC8832339F4E</string>
			<string>B4EEA808-F06C-40FE-88F0-3BDCA8E5C838</string>
			<string>0D256A62-AE52-4122-984E-1E243318C557</string>
			<string>EA646123-711E-4667-BA8A-54C001419FC8</string>
			<string>------------------------------------</string>
			<string>D8BB038B-765E-46E8-80DE-055C7B931FA0</string>
			<string>CB511578-C309-4A68-8901-ACCFCFD07102</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>0327735A-F886-46EA-B82C-1F1D1E399BAD</key>
			<dict>
				<key>items</key>
				<array>
					<string>ECFF4CC3-9793-4A70-97D2-F7127A2B5D67</string>
					<string>0DF36B41-6040-4CBC-AC62-8077B19EE889</string>
					<string>92E41A86-1C60-42BC-9268-9CD06AF7E554</string>
					<string>DA15069A-5ACC-4184-9554-5991B9A12272</string>
					<string>832C82CB-763A-4ECD-A9A1-6B7F28B2CABC</string>
				</array>
				<key>name</key>
				<string>Open in ESTK</string>
			</dict>
			<key>0D256A62-AE52-4122-984E-1E243318C557</key>
			<dict>
				<key>items</key>
				<array>
					<string>------------------------------------</string>
				</array>
				<key>name</key>
				<string>Photoshop</string>
			</dict>
			<key>28F338BA-2C87-447C-8BE5-93F3FE0EB8C5</key>
			<dict>
				<key>items</key>
				<array>
					<string>1819B4A9-A7C3-47E3-80DF-4F9D3171F450</string>
					<string>CE096C84-816F-4969-B1BB-E6D873890E33</string>
					<string>F8BDF67F-57A9-4B44-AAEA-A31E0AF2D3CA</string>
					<string>FD6B68C6-2CED-4D8C-8C9B-360C0000A10C</string>
					<string>581CCAE3-1B79-4579-B7A4-93A72F3109FC</string>
				</array>
				<key>name</key>
				<string>Run App</string>
			</dict>
			<key>426AE9AD-D61D-48BB-9B2C-FC8832339F4E</key>
			<dict>
				<key>items</key>
				<array>
					<string>CB6C2AC2-E1F5-4381-9D99-6CD18D890E89</string>
					<string>C6DF606C-F21F-487D-8ED4-2CE51F0DFACD</string>
					<string>950D23F2-D1C4-4569-8224-97516426E7BF</string>
					<string>DE9EE989-74B9-4EFF-AC07-72A7134CB4A0</string>
					<string>4156C4E2-81CF-4431-B1A6-7F8D2FFE5948</string>
					<string>------------------------------------</string>
					<string>93BD9450-64F5-4DAA-9316-0A2B7561EAA0</string>
					<string>765E4264-5217-44B8-820E-0A823F11B724</string>
					<string>AF537D72-1792-4579-B3B2-7314F1788B81</string>
					<string>1B02C88C-1EFE-4EF2-B52A-1A9E5A2E0A5A</string>
					<string>61D9ADBD-0E8E-4081-A4D0-5652ED4C547C</string>
					<string>ACBD728E-1E4B-406B-BD2A-78B35576B23F</string>
				</array>
				<key>name</key>
				<string>InDesign</string>
			</dict>
			<key>86F17501-1D4D-4FD8-A8E5-4D53A57CF346</key>
			<dict>
				<key>items</key>
				<array>
					<string>9244867A-2D4B-4999-85E5-C4E7B4368D6B</string>
					<string>D0481FDF-A50B-491D-AA01-58FFAA7544DD</string>
					<string>507BEA91-C19A-49A1-B138-39D5AD83236D</string>
					<string>39C8ED35-F19E-4BE2-B7D7-DAC05E73D19A</string>
					<string>------------------------------------</string>
					<string>247BACF0-1512-4952-BE51-D3DE60AC6BC4</string>
					<string>3D714804-4016-4067-B323-4666C4CAB689</string>
				</array>
				<key>name</key>
				<string>Header</string>
			</dict>
			<key>950D23F2-D1C4-4569-8224-97516426E7BF</key>
			<dict>
				<key>items</key>
				<array>
					<string>BCB3D594-BD1B-462D-92E7-062FCA8D33D9</string>
					<string>6DF1EE1C-66E6-40BE-B0AF-E7F1EB9449ED</string>
					<string>546EFF8D-A616-402E-9AE6-EAB6BDAD0315</string>
					<string>F67E11B4-8A7C-45C8-9C71-C9F26D67102A</string>
				</array>
				<key>name</key>
				<string>Find and Change</string>
			</dict>
			<key>A83E4850-BC62-4207-804D-F30B6EC78BC4</key>
			<dict>
				<key>items</key>
				<array>
					<string>9DDAFB45-3B46-45C8-BA8F-83B496182DB7</string>
					<string>------------------------------------</string>
					<string>063C6236-CF8F-4A05-B4AC-C0F23D172C09</string>
					<string>42D54CC7-2926-4A66-85BB-A7D23EFCC7F2</string>
					<string>42BD5882-03D8-4C0B-9E8E-CC384567298D</string>
					<string>------------------------------------</string>
					<string>E57F5CA7-45B9-48DC-83B3-0001CD4F3216</string>
					<string>D0146FB5-FC5E-4069-A557-83C5D2D72BE0</string>
					<string>B4D97E21-1D22-413E-B077-3FDC6069683B</string>
					<string>B1CB5A2D-04B9-4AEA-8375-DEDFFBE549E3</string>
					<string>B9C3252E-2CA2-4D5F-B38A-10E3FE7ED917</string>
				</array>
				<key>name</key>
				<string>Core</string>
			</dict>
			<key>B4EEA808-F06C-40FE-88F0-3BDCA8E5C838</key>
			<dict>
				<key>items</key>
				<array>
					<string>2B10796C-88DF-45DC-AB61-0754792B9C8B</string>
				</array>
				<key>name</key>
				<string>Illustrator</string>
			</dict>
			<key>DE9EE989-74B9-4EFF-AC07-72A7134CB4A0</key>
			<dict>
				<key>items</key>
				<array>
					<string>E0FD459C-5BF4-4BDC-B751-048875AFB828</string>
					<string>8BD1BFCB-B040-4B7E-BA01-9F1B3178CACD</string>
					<string>87DF3F66-8F79-46BE-B0C0-88CD7C7B1582</string>
				</array>
				<key>name</key>
				<string>Interaction Level</string>
			</dict>
			<key>EA646123-711E-4667-BA8A-54C001419FC8</key>
			<dict>
				<key>items</key>
				<array>
					<string>E6FCE63B-8CDE-4BA7-96B2-5CD7F3DC8972</string>
				</array>
				<key>name</key>
				<string>ScriptUI</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Jsx-ExtendScript</string>
	<key>ordering</key>
	<array>
		<string>------------------------------------</string>
	</array>
	<key>uuid</key>
	<string>55A7DFBB-8BF1-4A14-984D-777638B9A5E9</string>
</dict>
</plist>
